<h3 class="ui center aligned icon header">
  <i class="big comments outline icon"></i>
  Let's talk!
</h3>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <h4 class="ui header">Followers Activity</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Christian Rocha</a> signed up for the  site.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid card chatbox users">
      <div class="content">
        <div class="ui vertical menu">
          <a class="active item">
            Alice
          </a>
          <a class="item">
            Dan
          </a>
          <a class="item">
            John
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
