@import "semantic-ui";
body {
  background-color: #dfe3e5;

  .ui {

    &.vertical.menu {
      color: #455a64;
      background: #ffecb3;
    }

    &.menu {
      color: #455a64;
      background: #ffecb3;

      .dropdown.item .menu, .item, .active.item, .dropdown.item, .ui.dropdown .menu > .item {
        color: #455a64!important;
        background: #ffecb3;
      }

      .item:hover, .active.item:hover, .dropdown.item:hover, .ui.dropdown .menu > .item:hover {
        color: #455a64!important;
      }
    }

    &.primary.button, &.primary.button:hover {
      color: #ffecb3;
      background: #455a64;
    }

    .header {
      color: #455a64;
    }

    .card {
      background-color: #f3f3f3;
    }
    &.chatbox {
      height: 400px;
    }

    &.feed > .event > .content .summary{
      color: #455a64;

      .message {
        font-weight: normal;
      }
    }

    .form {
      i.message {
        background-color: #ffecb3;
        color: #455a64;
      }

      input[type="text"], input[type="password"]{
        color: #455a64;

        &:focus {
          border-color: #ffecb3;
          color: #455a64;
        }
      }
    }
  }
}
