@import "semantic-ui";
body {
  background-color: #dfe3e5;

  .ui {

    &.vertical.menu {
      color: #455a64;
      background: #ffecb3;
    }

    &.menu {
      color: #455a64;
      background: #ffecb3;

      .dropdown.item .menu {
        color: #455a64;
        background: #ffecb3;
      }
    }

    &.primary.button, &.primary.button:hover {
      color: #ffecb3;
      background: #455a64;
    }

    &.chatbox {
      height: 350px;
      &.users {
        background-color: #dfe3e5;
      }
    }
  }
}
